@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Shrikhand&display=swap');

/* Primary : #9356DC 
Secondary : #FF79DA 
Tertiary : #99E2D0
Tag : #0C8F6E

background-section : #F7F7F7
background-footer : #363636
location-placeholder : #EAEAEA

Fonts 
Logo et titres: Shrikhand
Texte: Roboto */

body{
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

a{
    text-decoration: none;
    color: black;
}

.logo-block{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 15px;
}

.logo{
    width: 200px;
}

.place-holder{
    background-color: #EAEAEA;
    background : linear-gradient(0deg, rgba(234,234,234,1) 90%, rgba(207,207,207,1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #363636;
    height: 60px;
}

#location{
    width: 140px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #EAEAEA;
}

.section-title{
    padding-left: 20px;
    font-size: 32px;
}

.exploration-section{
    text-align: center;
    padding: 10%;
    background-color: #F7F7F7;
}

.exploration-span{
    font-weight: 100;
    font-size: 20px;
    color: #363636;
}

.exploration-button{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
    color: white;
    background-color: #9356DC;
    border: none;
    font-weight: bold;
    background : linear-gradient(0deg, rgba(164,91,220,1) 0%, rgba(227,112,218,1) 90%);
    box-shadow: 0px 3px 8px 4px #d3d3d3;
    font-size: 18px;
}

.function-section{
    padding-top: 30px;
}

.function-wrapper{
    list-style-type: none;
    width: 89%;
    margin-left: 6%;
    padding-top: 10px;
    padding-bottom: 42px;
    padding-inline-start: 0;
    
}

.function-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F7F7F7;
    box-shadow: 0px 3px 8px 4px #e5e4e4;
    margin-bottom: 25px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    justify-content: center;
}

.function-button:hover{
    background-color: rgba(148, 86, 220, 0.2);
}

.number-icon{
    background-color: #9356DC;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    margin-right: 88%;
}

.fa-mobile-screen-button{
    font-size: 22px;
    color: grey;
    position: absolute;
    margin-right: 65%;
}

.fa-list{
    font-size: 22px;
    color: grey;
    position: absolute;
    margin-right: 65%;
}

.fa-store{
    font-size: 22px;
    color: grey;
    position: absolute;
    margin-right: 65%;
}

.function-title{
    margin-left: 30px;
    font-weight: 500;
    font-size: 22px;
}

.restaurant-section{
    background-color: #F7F7F7;
    padding-top: 30px;
}

.restaurants-wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 42px;
}

.restaurant-card{
    background-color: white;
    height: 320px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 2px 5px 4px #F2F2F2;
    margin-bottom: 20px;
}

.top-card{
    height: 70%;
}

.restaurant-image{
   width: 100%;
   height: 100%;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   object-fit: cover;
}

.new-tag{
    background-color: #99E2D0 ;
    width: 80px;
    font-size: 13px;
    position: absolute;
    padding: 8px;
    border-radius: 3px;
    margin-left: 66%;
    color: #0C8F6E;
    font-weight:500;
    font-size: 18px;
    text-align: center;
}

.bottom-card{
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}

.restaurant-tags{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.h3-restaurant-name{
    margin: 0;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
}

.h4-restaurant-place{
    margin: 0;
    padding-top: 5px;
    padding-left: 15px;
    font-weight: 100;
}

.heart-icon{
    width: 15%;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.footer-wrap{
    background-color: #363636;
    color: white;
    padding: 30px;
}

.footer-ul{
    list-style-type: none;
    padding-left: 0;
    color: white;
    font-size: 20px;
}


.footer-link{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 35px;
}

.fa-utensils{
    padding-right: 15px;
    width: 12px;
}

.fa-handshake-angle{
    padding-right: 17px;
    width: 10px;
}

.footer-title{
    font-family: Shrikhand;
    margin-top: 0px;
    font-size: 24px;
}


/* Ajouts pour les pages menus */

.arrow-left{
    position: absolute;
    margin-right: 85%;
    font-size: 25px;
    vertical-align: middle;
    color: #363636;
}

.menu-photo-div{
    height: 320px;
    width: 100%;
}

.menu-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.menu-wrapper{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #F7F7F7;
    margin-top: -42px;
    padding-top: 10px;
    z-index: 3;
    position: relative;
}

.menu-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.like-heart{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-heart{
    font-size: 30px;
}

.menu-page-title{
    font-family: Shrikhand;
    margin: 0;
    padding: 20px;
    font-size: 35px;
}

.menu-section{
    background-color: transparent;
    padding-bottom: 20px;
}

.menu-section-title{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 100;
    text-transform: uppercase;
}

.menu-section-underline{
    background-color: #99E2D0;
    height: 5px;
    margin-left: 20px;
    width: 12%;
}

.menu-ul{
    list-style-type: none;
    padding-inline-start: 0;
}

.menu-div{
    background-color: white;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 3px 8px 4px #e7e6e6;
}

.menu-plate-title{
    margin: 0;
    font-size: 24px;
}

.infos-and-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 100;
    padding-top: 10px;
}

.infos{
    margin: 0;
}

.price{
    margin: 0;
    padding-right: 5px;
    font-weight: 500;
}

.order-button-div{
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #F7F7F7;
    padding-bottom: 50px;
}

.order-button{
    font-size: 20px;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 50px;
    color: white;
    background-color: #9356DC;
    border: none;
    font-weight: 500;
    background : linear-gradient(0deg, rgba(164,91,220,1) 0%, rgba(227,112,218,1) 90%);
    text-align: center;
    box-shadow: 0px 3px 8px 4px #d3d3d3;
}

.loader{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: white;
    opacity: 0;
    animation: fadeOut 3s ;
}

/* Animations CSS */

.green-check{
    color: #F2F2F2;
    background-color: #99E2D0;
    height: 103px;
    width: 5%;
}

.animation-check{
    display: flex;
    flex-direction: column;
}

/* 
Animations à réaliser 
Boutons: 
Au survol la couleur de fond des boutons principaux devra légérement s'éclaircir. 
+ Ombre de portée davantage visible
Le coeur se remplit progressivement au survol.

Page d'accueil: 
Loading spinner : 1 à 3s - FullWidth FullHeight - pas de librairies - cf charte graphique

Pages de menu: 
Apparition des plats progressive avec léger décalage, dans le temps.
Ils pourront soit apparaître un par un, soit par groupe
Les visiteurs peuvent ajouter les plats à leur commande en cliquant dessus.
Fait apparaitre une petite coche à droite à droite du plat 
coche à droite : 
- 20% - avec dedans icon validation dans un rond en blanc - bgcolor : #97DECB
 */


/* Keyframes */




@keyframes fadeOut {
    0% {
        opacity:1;
        z-index: 2;
    }

    50%{
        opacity:1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}
@-moz-keyframes fadeOut { /* sur Firefox */
    0% {
        opacity:1;
        z-index: 2;
    }

    50%{
        opacity:1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}
@-webkit-keyframes fadeOut { /* sur Safari et Chrome */
    0% {
        opacity:1;
        z-index: 2;
    }

    50%{
        opacity:1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}
@-o-keyframes fadeOut { /* sur Opera */
    0% {
        opacity:1;
        z-index: 2;
    }

    50%{
        opacity:1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}